# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FloatingGlucose.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\crainey\source\FloatingGlucose\.idea\.idea.FloatingGlucose\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
